/* Base Styles */
body {
    font-family: 'Cormorant', serif;
    margin: 0;
    padding: 0;
    background-color: #FFF6F6;
}

.title-navbar {
    display: none;
}
/* Navigation Bar */
#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF6F6;
    color: #333;
    padding: 10px;
    position: relative;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li a {
    font-size: 2em; 
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
    color: #555;
}

.nav-links li {
    margin-right: 30px; 
}

.nav-links li:last-child {
    margin-right: 0; 
}

/* Hamburger Menu */
.hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px;
}

/* Hamburger to Cross */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
}

.hamburger.open .line:nth-child(1),
.hamburger.open .line:nth-child(3) {
    position: absolute;
    top: 15px;
}

.hamburger.open .line:nth-child(1) {
    transform: rotate(45deg);
}

.hamburger.open .line:nth-child(2) {
    opacity: 0;
}

.hamburger.open .line:nth-child(3) {
    transform: rotate(-45deg);
}

.hamburger .line {
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: all 0.3s ease;
}

/* Hide scrollbar when menu is open */
body.overflow-hidden {
    overflow: hidden;
}

/*  Hide main-body when menu is open */
.main-body.hidden {
    display: none;
  }
  
  .main-body {
    min-height: calc(100vh - 4rem); /* Subtract footer height from viewport height */
    padding-bottom: 4rem; /* Add padding to the bottom of the content */
    position: relative; /* Add position relative */
}

.header {
    text-align: center;
    background-image: url('assets/man-praying.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: #fff;
    position: relative;
    height: 300px; 
    overflow: hidden; /* Hide any overflowed content */
}

.header .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px; 
    box-sizing: border-box;
}

.header h1 {
    font-size: 5em;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.5em;
}

.first-heading {
    text-align: center;
    color: #E3CA77;
    position: relative;
    font-size: 2em;
    margin-top: 0.2em;
}

.about-p {
    font-family: 'Cormorant', serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto; /* Center the entire paragraph horizontally */
  width: 60%; /* Set a width for the text block */
  padding: 0.5em; /* Add some padding for spacing within the block */
  text-align: center; /* Center-align the text within the block */
  color: #333;
}

.me-photos-container {
    display: flex;
    flex-wrap: wrap; /* Allow the images to wrap to the next row on small screens */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.me-photo {
    max-width: 300px; /* Ensure images don't exceed the width of their container */
    max-height: 250px;
    margin: 0.5em; /* Adjust the margin as needed */
    flex: 1; /* Allow images to take equal horizontal space */
}

.spacer {
    height: 1.5em; /* Adjust the height as needed */
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background: #3F5A36;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }

/* Responsive */
@media (max-width: 768px) {

    .title-navbar {
    display: block;
    text-align: center;
    color: black;
    font-size: 2em;
    }

    .nav-links {
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column;
        background-color: #FFF6F6;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .nav-links.open {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .nav-links.open {
        font-size: 1.5em;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        
    }
    
    .nav-links.open li {
        margin-bottom: 30px;
    }

    .main-body {
        padding-bottom: 6em; /* Add padding to the bottom of the content */
    }

    .header .header-content {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .header h1 {
        font-size: 3em;
    }

    .header p {
        font-size: 1.2em;
    }

    .header {
        margin-top: 1.5em;
    }

    .me-photos-container {
        flex-direction: column; /* Stack images vertically on smaller screens */
        align-items: center;
    }

    .me-photo {
        max-width: 90%; /* Reduce image width for smaller screens */
    }
}

  