/* Base Styles */
body {
    font-family: 'Cormorant', serif;
    margin: 0;
    padding: 0;
    background-color: #FFF6F6;
}

/* Navigation Bar */
#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF6F6;
    color: #333;
    padding: 10px;
    position: relative;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li a {
    font-size: 2em; 
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
    color: #555;
}

.nav-links li {
    margin-right: 30px; 
}

.nav-links li:last-child {
    margin-right: 0; 
}

/* Hamburger Menu */
.hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px;
}

/* Hamburger to Cross */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
}

.hamburger.open .line:nth-child(1),
.hamburger.open .line:nth-child(3) {
    position: absolute;
    top: 15px;
}

.hamburger.open .line:nth-child(1) {
    transform: rotate(45deg);
}

.hamburger.open .line:nth-child(2) {
    opacity: 0;
}

.hamburger.open .line:nth-child(3) {
    transform: rotate(-45deg);
}

.hamburger .line {
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: all 0.3s ease;
}

/* Hide scrollbar when menu is open */
body.overflow-hidden {
    overflow: hidden;
}

/*  Hide main-body when menu is open */
.main-body.hidden {
    display: none;
  }
  
.header {
    text-align: center;
    background-image: url('assets/man-praying.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: #fff;
    position: relative;
    height: 300px; 
    overflow: hidden; /* Hide any overflowed content */
}

.header .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px; 
    box-sizing: border-box;
}

.header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.5em;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column;
        background-color: #FFF6F6;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .nav-links.open {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .nav-links.open {
        font-size: 1.5em;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        
    }
    
    .nav-links.open li {
        margin-bottom: 30px;
    }

    .header .header-content {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .header h1 {
        font-size: 2em;
    }

    .header p {
        font-size: 1.2em;
    }

    .header {
        margin-top: 1.5em;
    }
}
